# Common
pyinstaller>=6.0

# macOS
pyobjc-framework-CoreBluetooth>=10.0; sys_platform == "darwin"

# Windows
winrt-Windows.Devices.Bluetooth.Advertisement>=2.0; sys_platform == "win32"
winrt-Windows.Storage.Streams>=2.0; sys_platform == "win32"

# Linux (optional -- dbus-python for D-Bus advertising, otherwise hcitool is used)
# dbus-python>=1.3; sys_platform == "linux"
