# 共通
pyinstaller>=6.0

# macOS
pyobjc-framework-CoreBluetooth>=10.0; sys_platform == "darwin"

# Windows
winrt-Windows.Devices.Bluetooth.Advertisement>=2.0; sys_platform == "win32"
winrt-Windows.Storage.Streams>=2.0; sys_platform == "win32"
